<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Address</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user?.name }}</td>
        <td>{{ user?.email }}</td>
        <td>{{ user?.phoneNumber }}</td>
        <td>{{ user?.address }}</td>
        <td>
          <button (click)="editUser(user)">Edit</button>
          <button (click)="deleteUser(user?.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button (click)="generatePdf()">Generate PDF</button>
  <button (click)="downloadPdf()">Download PDF</button>
</div>
